@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Macondo';
    color: #ffffff;
    background-color: #000000;
    height: 100%;
    border: 3px solid #551A8B;
    box-sizing: border-box;
}

.logo {
    height: 14vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
}

header {
    display: flex;
    text-align: center;
    flex-direction: column;
}

h1 {
    font-family: 'Macondo';
    color: #e0dba7;
    text-shadow: 2px 2px #551A8B;
    text-align: center;
    font-size: 1.6rem;
}

.game-area {
    /* width: 100%;
    height: 100%; */
    background-color: #ABB0B8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 6px;
    border-bottom: 16px solid #abb0b8;
    text-align: center;
    font-size: 1.6rem;
    color: #551A8B;
    font-weight: bold;
    text-shadow: 1px 1px #e0dba7;
}

button {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Macondo';
    color: black;
    font-size: 1rem;
    font-weight: bold;
    flex-basis: 32%;
}

.game-area-buttons {
    display: flex;
    flex-direction: row;
    font-family: 'Macondo';
    color: black;
    font-size: 1rem;
    font-weight: bold;
    justify-content: space-between;
}

.game-area-buttons button {
    border: 2px solid #551A8B;
    border-radius: 5px / 20px;
    border-radius: 16px / 20px;
}

.score-area {
    background-color: #e0dba7;
    color: #000000;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.scores {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-evenly;
}

.scores-div {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    justify-content: space-around;
    margin: 0;
}

.score-area p {
    border: 2px solid #551A8B;
    padding: 1.2rem;
    border-radius: 16px / 20px;
    text-shadow: 1px 1px #ffffff;
}

h2 {
    font-family: 'Macondo';
    color: #551A8B;
    font-size: 1.8rem;
    text-shadow: 0 0 #000000;
    margin: 0;
    padding-top: 5px;
}

.results {
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    padding: 0.5rem 2.5rem;
    border: solid 2px #551A8B;
}

.results-container {
    display: flex;
    justify-content: center;
}


.results::before {
    content: "Results: "; /* Insert the text "Results: " on onload before the content of the div element */
    font-weight: bold;
  }

.reset {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0.5rem;
}

.reset button {
    background-color: #404458;
    color: #e0dba7;
    font-size: 1.2rem;
    text-shadow: 2px 2px #551A8B;
}

#reset-button {
    font-size: 1.2rem;
    flex-basis: 45%;
}

.footer {
    background-color: #ABB0B8;
    display: flex;
    flex-direction: column;
    align-content: center;
    color: #000000;
}

.icons8 {
    flex-direction: row;
    width: 25%;
}

/* 
Media queries  */

@media (min-width: 425px) {

    h1 {
        font-size: 2rem;
    }

    .game-container {
        display: flex;
        flex-direction: row;
    }

    .game-area p {
        font-size: 2rem;
    }

    .result.container {
        width: 100%;
        height: 25%;
    }

    .results {
        font-size: 1.8rem;
    }

    .score-board {
        width: 50%;
        height: 25%;
    }

    .quote.container {
        width: 50%;
        height: 25%;
    }

    button {
        width: 33%;
        height: 100%;
        font-size: 1.2rem;
    }

    img {
        width: 65%;
    }
    
.game-area-buttons {
    font-size: 2rem;
    font-weight: bold;
    justify-content: space-evenly;
}

#reset-button {
    font-size: 1.8rem;
    flex-basis: 46%;
}

}

@media (min-width: 768px) {
img {
    width: 40%;
}
}

@media (min-width: 1024px) {
    h1 {
      font-size: 2.5rem;
    }

    .game-area p {
        font-size: 2.5rem;
    }

    .scores-div {
        font-size: 2.5rem;
}
}
