@font-face {
    font-family: 'Mystico';
    src: url('mystico.ttf');
  }

body {
    font-family: 'Mystico';
    color: #ffffff;
    background-color: #000000;
}

header {
    display: flex;
    text-align: center;
    flex-direction: column;
}

h1 {
    color: #EDE3FF;
    text-align: center;
    font-size: 2.5rem;
}

.game-area {
    width: 100%;
    height: 100%;
    background-color: #ABB0B8;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 6px;
}

button {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Mystico';
    color: #e0dba7;
    font-size: 1rem;
    font-weight: bold;
    flex-basis: 32%;
}

button img {
    width: 50%;
}

.score-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-evenly;
}

.reset {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.icons8 {
    flex-direction: row;
    width: 25%;
}
